.minesweeper {
    display: flex;
    position: relative;
    width: 170px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.playArea {
    position: relative;
}

.cell {
    width: 12px;
    height: 12px;
    background-color: #c0c0c0;
}

.container {
    margin: 5px;
}

.border {
    background-color: #c0c0c0;
}

.row {
    display: flex;
    flex-direction: row;
}

.outsetBorder {
    border: outset 3px;
    border-top-color: white;
    border-right-color: #808080;
    border-bottom-color: #808080;
    border-left-color: white;
}

.padded {
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
}

.insetBorder {
    border: inset 3px;
    border-top-color: #808080;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: 808080;
}

.numbers {
    width: 44px;
    height: 25px;
    background-color: black;
    display: flex;

    & > div {
        padding-left: 1px;
    }
}

.smiley {
    width: 20px;
    height: 20px;
    background-image: url('../../public/smiley.png');
    image-rendering: crisp-edges;
}

.scoreboardContainer {
    margin-bottom: -3px;
    border-bottom-width: 0px;
    z-index: 1;
}

.scoreboard {
    margin-bottom: -8px;
    border-bottom-width: 0px;
    z-index: 1;
    position: relative;
}